
<div class="main">
<h2>SignUp Here</h2>
<hr />
<br>
<br>
<div class="forms">
<form action="/auth/signup" method="POST">
  <label for="new-email" class="formStyle">Email</label>
  <br>
  <input id="new-email" type="email" name="email" style="font-size:20px; text-align:center">
  <br>
  <br>

  <label for="new-name" class="formStyle">Name</label>
  <br>
  <input id="new-name" type="text" name="name" style="font-size:20px; text-align:center">
  <br>
  <br>

  <label for="new-password" class="formStyle">Password</label>
  <br>
  <input id="new-password" type="password" name="password" style="font-size:20px; text-align:center">
  <br>
  <br> 

  <input type="submit" class="formButton" value="Sign up">
  <br>
</form>
<br>
<h6>Already have an account? <a href="/auth/login" class="link" style="text-decoration:underline">Login</a> </h6>
</div>
</div>
