
<div class="signupPage">
<h2>SignUp Here</h2>
<form action="/auth/signup" method="POST">
  <label for="new-email">Email</label>
  <br>
  <input id="new-email" type="email" name="email">
  <br>
  <br>

  <label for="new-name">Name</label>
  <br>
  <input id="new-name" type="text" name="name">
  <br>
  <br>

  <label for="new-password">Password</label>
  <br>
  <input id="new-password" type="password" name="password">
  <br>
  <br> 

  <input type="submit" value="Sign up">
  <br>
</form>
</div>
