<footer class="page-footer black">
 
    <div class="footer-copyright">
      <div class="container">
      © Created by: Cristina Nguyen
      <a class="grey-text text-lighten-4 right" href="https://github.com/crnguyen"><i class="tiny material-icons">group_work</i>Github</a> 
      <a class="grey-text text-lighten-4 right" href="#!"> || </a> 
      <a class="grey-text text-lighten-4 right" href="https://www.linkedin.com/in/cristinanguyen/"><i class="tiny material-icons">portrait</i>LinkedIn</a>
      </div>
    </div>
  </footer>