<div class="main">
    <h2>Account Settings</h2>
    <hr/>
    <br />
    <div class="forms">
        <h4 class="page-subtitle">Update Email</h4>
        <form method="POST" action="/user/editUser?_method=PUT">
            <input class="form-control" style="text-align:center; font-size:20px" id="new-email" type="email" name="email" value="<%= user.email %>">
            <button class="formButton" type="submit">Update</button>
        </form>
      </div>
    <br />
    <br />
    <br />
    
    <form method="POST" action="/user/editUser?_method=DELETE">
        <input hidden type="text" name="user" value="user">
        <button class="formButton" type="submit">Delete Account</button>
    </form>
</div>