<div class="main">
    <h2>Favorited Recipes</h2>
    <hr />


<% if(favorites.length<=0){ %>
    <h5>Oh no! Looks like you don't have any favorites yet. Check out the <a class="a" href="/recipes" class="link">RECIPES</a> page to add some favorites! </h5>
<% } else { %>
    <% favorites.forEach(f => { %>
        <h4 class="favoritesTitles"><%= f.name %> </h4>
        <h6><a class="a" href="/details/<%=f.recipeId %>">Link to Details</a></h6>

        <form method="POST" action="/favorites/<%= f.name %>/?_method=DELETE">
            <button class="formButton" type="submit">Remove this recipe</button>
        </form>
    <% }) %>
<% } %>
</div>
