<div class="main">
    <h1>Favorited Recipes</h1>
</div>

<% if(typeof favorites=="undefined"){ %>
    <h3>Oh no! Looks like you don't have any favorites yet. Check out the <a href="/recipes" class="link">recipes</a> page to add some favorites! </h3>
<% } else { %>
    <% favorites.forEach(f => { %>
        <h2><%= f.name %> </h2>
        <a href="/details/<%=f.recipeId %>">Link to Details</a>
    <% }) %>
<% } %>
