<div class="main">
    <h2>RecipeRec</h2>
    <hr />
    <br>
    <% if (!currentUser) { %>
        <h3>A way to stay connected through food.</h3>
        <h4>Login to search, favorite, and comment on recipes.</h4>
      <% } else { %>
        <h3>A way to stay connected through food.</h3>
        <h5>You are currently logged in as <%= currentUser.name %> !</h5>
      <% } %>
</div>