<div class="main">
    <h1>RecipeRec</h1>
    <br>
    <% if (!currentUser) { %>
        <h3>A way to stay connected through food.</h3>
        <h3>Login to view recipes and add your own!</h3>
      <% } else { %>
        <h3>A way to stay connected through food.</h3>
      <% } %>
</div>