<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="RecipeRec" />
    <meta name="title" property="og:title" content="RecipeRec" />
    <meta property="og:type" content="Website" />
    <meta name="image" property="og:image" content="https://i.imgur.com/pb3hvSv.jpg" />
    <meta name="description" property="og:description" content="RecipeRec" />
    <meta name="author" content="Cristina Nguyen" />

    <title>RecipeRec</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
  <body>
    <%- include("partials/nav") %> 
    <%- include partials/alerts %>
  
    
    <main>
      <%- body %>
    </main>
    <%- include("partials/footer") %> 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {});
        });
    </script>
  </body>
</html>
