<div class="main">
    <h2>Profile Page</h2>
    <hr/>
    <h3>Welcome to your profile <%= user.name %>! </h3>
    <%= user.email %>
    <h5><a href="user/editUser">Edit Account Information</a></h5>
</div>