<div class="main">
    <div class="recipePageTitle">
        <h1>Recipes</h1>
    </div>

    <form method="GET" action="/recipes">
      <label for="searchRecipe" style="font-size:20px">Search for a Recipe</label>
      <input id="recipeFilter" style="text-align:center;font-size:20px" type="text" name="searchRecipe">
      <input type="submit" id="searchButton"> 
      <br>
  </form>
  <br>

    <!-- display all recipes -->
    <div class="recipePage">
        <% if (recipes) { %>
        <% recipes.forEach(function(r) { %>
            <div class="recipeContent">
                <a id="" href="/details"> <h2><%= r.title %></h2> </a>
              
              <br>
              <img src="<%= r.image %>" alt="recipeImg">
            </div>
              <!-- <form method="POST" action="/recipes">
                <input hidden type="text" name="name" value="<%= r.title %>">
                <button class="btn btn-primary" id="button" type="submit">Add to Favorites</button>
              </form> -->
        <% }); %>
        <% } else { %> 
            <div>No recipe found...sorry</div>
        <% } %>
    
</div>
</div>
