<div class="main">
<h2>Want to share a recipe? Submit your own!</h2>

<!-- forms -->
<div class="forms">
<form action="/authors" method="POST">
    
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" name="firstName" style="font-size:20px; text-align:center" required>

  
    
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName" name="lastName" style="font-size:20px; text-align:center" required>
    
  
    
    <label for="recipeTitle">Recipe Title</label>
    <input type="text" class="form-control" id="recipeTitle" name="recipeTitle" style="font-size:20px; text-align:center" required>
    

    <label for="ingredients">Ingredients</label>
    <textarea type="text" class="form-control" id="ingredients" name="ingredients" required></textarea>
    

    <label for="instructions">Instructions</label>
    <textarea type="text" class="form-control" id="instructions" name="instructions" required></textarea>
    
  
    <input type="submit" class="btn btn-primary">
  </form>
</div>
  
  <br>
  <a href="/">&larr; Back To Homepage</a>
  <br>
  <a href="/recipes">&larr; Back To Recipes</a>


  
</div>