nav {
    padding: 10px;
}

.brand-logo {
    text-align: left;
}

.main {
    text-align: center;
}

.forms {
    width: 50%;
    margin: 0 auto;
}
.formStyle {
    font-size: 20px;
}

.recipePage {
    height: 450px;
    overflow-y: scroll; 
}

.recipeContent {
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
    text-align: center;
    max-width: 400px;
    min-width: 400px;
    max-height: 400px;
    min-height: 400px;
}

.detailsPage {
  padding: 20px;
}

.details {
  overflow-y: scroll; 
  height: 300px;
}

#searchButton {
    font-size: 20px;
    width: auto;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 20%;
}